@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Inter', sans-serif;
}

.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio:16/9;
    background: #000;
    position: relative;
}

.slider-background{
    width:100%;
    height:100%;
    object-fit: cover;
    filter:brightness(50%);
}

.slider-content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

h1{
    color:#001a70;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 100px;
}

p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.slider-content p{
    color:#001a70;
    font-size: 2rem ;
    font-weight: 400;
}

.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline:auto;
}

.flex{
    display:flex;
}

.dark{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/fondecran.png);
    background-size: cover;
    color: #fff;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.text-center{
    text-align:center;
}

.w25{
    width: 25%;
}

.w32{
    width: 32%;
}

.space-between{
    justify-content: space-between;
}
.gap20{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}

.skill{
    background: #333;
    border-radius: 15px;
    padding: 20px;
    width: 30%;

}

.skill img{
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.skill h3{
    margin-top: 10px;
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisation h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: max-content;
    opacity: 0;
    transition: 2s ease;
}
.realisation a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: 2s ease;
}

.realisation:hover img{
    filter: brightness(80%);
}

.realisation:hover h3{
    opacity: 1;
}

.icon{
    display: block;
    font-size: 30px !important;
}

.label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.2rem;
}

.contact{
    border: 2px dashed #fff;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.contact img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}